---
layout: page
title: Mevadata
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="block">
        <h1 class="animated fadeInUp">The Multivew Extended Video with Activities (MEVA) dataset</h1>
        <p class="animated fadeInUp"> The large-scale MEVA dataset is designed for activity
          detection in multi-camera environments. It was created on the Intelligence Advanced
          Research Projects Activity (IARPA) Deep Intermodal Video Analytics (DIVA) program 
          to support DIVA performers and the broader research community.</p>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About MEVA data</h2>
            <p>The current known-facility data release features approximately 185 hours of activity-
              rich data.</p>
          </div>
          <h3>Releases</h3>
          <p><strong>Known Facility Release #1 ("KF1"):</strong> This data was collected at the Muscatatuck Urban Training Center
            with a team of over 100 actors performing in various scenarios. The fields of view, both
            overlapping and non-overlapping, capture person and vehicle activities in indoor and outdoor
            environments. There were multiple realistic scenarios with a variety of scripted and
            non-scripted activities.</p>
          <p>The camera infrastructure included commercial-off-the-shelf EO cameras; thermal
            infrared cameras as part of several IR-EO pairs; and
          a range of still images from handheld cameras.</p>
          <p>Additional resources such as a facility site map, camera model information, and camera
            calibration models will be also be released.</p>
          <p>The videos to the right provide a sample of the outdoor MEVA data.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <video controls width="100%" style="margin: 32px 0 20px;">
            <source src="video/2018-03-07.16-55-00.17-00-00.bus.G340.recoded.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
          </video>

          <video controls width="100%" style="margin: 0 0 20px;">
            <source src="video/2018-03-07.17-20-00.17-25-00.school.G336.recoded.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
          </video>
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>ACCESSING AND USING MEVA</h2>
      <p>All MEVA data is available for use under a <a
      href="https://creativecommons.org/licenses/by/4.0/">CC BY-4.0
      license</a>. MEVA-KF1 resources include:
      <li> <strong>The main corpus of 295GB of video files, available for
        download via AWS S3-requester-pays for approximately
        $27USD. </strong> <a href="resources/README-meva-kf1-data.txt"
        class="button-primary">Download Access Instructions</a><p>
        <li> A selection of sample videos is available, including
      one-minute raw samples and scaled versions of complete
      five-minute clips. 
	<a href="https://data.kitware.com/#item/5cddc7ff8d777f072bb0b78b" class="button-primary">Download Example Videos</a>
	<br>
		<p>The full corpus of full-scale data is available for download via an Amazon Web Services
      requester-pays paradigm. Please see the <a href="resources/README-meva-data.txt">MEVA README</A>, 
	  which details the directory structure and organization of the data
	  and the <a href="resources/MEVA-data-license.txt">MEVA License</a> for additional information. </p>
	  

    </div>
  </div>
</div>
</section>

<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Annotating MEVA</h2>
        <p>The MEVA data can be annotated using your preferred annotation toolchain. For annotating
          and using the MEVA data, the following steps are recommended:</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-checkmark-circled"></i>
          <h4>Download data</h4>
          <p>The MEVA Known Facility Dataset 1 ("KF1") is 2,223 video
  clips totalling 295GB. It is available via Amazon Simple Storage
  Service (S3) in a Requester Pays bucket; at a transfer cost of $0.09USD per
  gigabyte, the estimated download cost is approximately $27USD. The
          S3 bucket for MEVA KF1 is
          <p><b><tt>mevadata-kf1-requester-pays</tt></b>
          <p>
          Several command line tools and GUI clients are available for
  downloading from S3, e.g. <a href="https://s3tools.org/s3cmd">s3cmd</a>.

<p> Your use of Amazon S3 is subject to Amazon's Terms of Use. The
  accessibility of the MEVA KF1 data from Amazon S3 is provided "as
  is" without warranty of any kind, expressed or implied, including,
  but not limited to, the implied warranties of merchantability and
  fitness for a particular use. Please do not contact Kitware for
  assistance with Amazon services.

        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-qr-scanner"></i>
          <h4>View annotation exemplars</h4>
          <p>Download and review short clips of visualized annotations for each activity type.</p>
          <a href="https://data.kitware.com/#item/5cddc85b8d777f072bb0b7aa" class="button-primary">Download exemplars</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-code-download"></i>
          <h4>Review Annotation Guidelines</h4>
          <p>Download the current activity definitions. These should guide which activities
            and objects are annotated.</p>
          <a href="resources/Performers-MEVA-Annotation-Definitions.pdf" class="button-primary">Download guidelines</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-qr-scanner"></i>
          <h4>Generate annotations</h4>
          <p>Generate annotations that meet the following requirements which are part of the T&E
            json file formats <strong>(comma separated list of file formats here)</strong></p>
        </div>
      </div>
	  </div>
      <div class="row vp-view">
		<div class="block">
          <p><strong>Kitware’s vpView</strong> tool can be used for creating the activity annotations.
			To get started using vpView, the following resources are available:</p>
			<ul>
				<li><a href="https://data.kitware.com/#folder/5c8a72438d777f072b97f9e1">vpView installer and required files (Linux only)</a></li>
				<li><a href="resources/Performers-MEVA-Annotation-Definitions.pdf">Annotation Definitions</a>, including chart of track requirements per activity type.</li>
				<li><a href="https://data.kitware.com/#item/5cddc7698d777f072bb0b765">Annotating with vpView instructions</a></li>
			</ul>
		</div>
      </div>
    </div>
</section>

{% comment %}
<!-- CALL TO ACTION START
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section> CALL TO ACTION END -->

<!-- CONTENT START
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> CONTENT END-->
{% endcomment %}
