<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Contact us at <a href="mailto:mevadata@kitware.com">mevadata@kitware.com</a></p>
		<p>Copyright &copy; <a href="https://kitware.com">Kitware, Inc.</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-1">
        <a href="https://www.iarpa.gov"><img src="{{ site.baseurl }}/img/IARPA_logo.png" alt="IARPA logo"></a>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-2">
        <img src="{{ site.baseurl }}/img/DIVA_logo.png" alt="DIVA logo">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</footer>
