<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% comment %}
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        {% endcomment %}
        <p>Kitware’s Vp-View tool can be <a href="#">downloaded</a> and used to create annotations for the
          DIVA program. There is an overview how to document available for using Vp-View for DIVA
          annotations. Note that the annotations being created for the T&E effort on DIVA do not
          include full tracks; individuals or objects are only annotated during the execution of an
          activity. See the Annotation Guidelines for a chart of track requirements per activity
          type</p>
        <p>Copyright &copy; <a href="http://kitware.com">Kitware, Inc.</a></p>
      </div>
    </div>
  </div>
</footer>
