<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% comment %}
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        {% endcomment %}
       
        <p>Contact us at <a href="mailto:mevadata@kitware.com">mevadata@kitware.com</a></p>
		<p>Copyright &copy; <a
        href="http://kitware.com">Kitware, Inc.</a></p>
        <img src="{{ site.baseurl }}/img/DIVA_logo.png" alt="DIVA logo">
        <p>
      </div>
    </div>
  </div>
</footer>
